<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/resume">Resume</a></li>
						<li><a href="/projects">Projects</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:kjschiroo@gmail.com">email</a></li>
        		<li><a href="https://github.com/kjschiroo">github.com/kjschiroo</a></li>
						<li><a href="https://twitter.com/The_Schiroo">@The_Schiroo</a></li>
			</ul>
		</footer>
	</body>
</html>
